
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Window</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_vmfdsadventskalender" >
	<tr>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.day" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.type" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.event_id" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.name" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.address" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.phone" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.email" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.notes" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.internal_notes" /></th>
		<th><f:translate key="tx_vmfdsadventskalender_domain_model_window.image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{windows}" as="window">
		<tr>
			<td><f:link.action action="show" arguments="{window : window}"> {window.day}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.eventId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.notes}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.internalNotes}</f:link.action></td>
			<td><f:link.action action="show" arguments="{window : window}"> {window.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{window : window}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{window : window}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Window</f:link.action>
</f:section>