
<label for="day">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.day" />
</label><br />
	<f:form.textfield property="day" /><br />
<label for="type">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="eventId">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.event_id" />
</label><br />
	<f:form.textfield property="eventId" /><br />
<label for="name">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="address">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.address" />
</label><br />
	<f:form.textfield property="address" /><br />
<label for="phone">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="email">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="notes">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.notes" />
</label><br />
	<f:form.textarea property="notes" cols="40" rows="15" /><br />
<label for="internalNotes">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.internal_notes" />
</label><br />
	<f:form.textarea property="internalNotes" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_vmfdsadventskalender_domain_model_window.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />