
<table class="tx-vmfds-adventskalender" >
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.day" />
		</td>
		<td>
		{window.day}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.type" />
		</td>
		<td>
		{window.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.event_id" />
		</td>
		<td>
		{window.eventId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.name" />
		</td>
		<td>
		{window.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.address" />
		</td>
		<td>
		{window.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.phone" />
		</td>
		<td>
		{window.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.email" />
		</td>
		<td>
		{window.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.notes" />
		</td>
		<td>
		{window.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.internal_notes" />
		</td>
		<td>
		{window.internalNotes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsadventskalender_domain_model_window.image" />
		</td>
		<td>
				<f:image src="{window.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>